<!DOCTYPE html>

<head>
<meta charset="utf-8">
<title> About Stapate </title>
</head>

<html>
<body>

<h1> Who is Stapate </h1>

<p>

Stapate is a small youtuber who makes minecraft and roblox videos (for now) 

</p>

</body>
</html>
